.user-list {
  display: flex;
  justify-content: space-around;
  border: 1px solid #aaa;
  padding: 10px;
  margin: 0;
  list-style: none;
}

.user-list-head {
  font-weight: bold;
  background: #eee;
}

.form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.form input {
  padding: 5px;
}

.actions svg {
  cursor: pointer;
  margin-right: 10px;
}

.actions button {
  margin-right: 8px;
  padding: 4px 8px;
  cursor: pointer;
}

.form button {
  padding: 6px 12px;
  cursor: pointer;
}
.btn {
  border: none;
  padding: 6px 14px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
  color: white;
  transition: 0.3s ease;
}

/* ADD DATA */
.add-btn {
  background-color: #28a745; /* green */
}

.add-btn:hover {
  background-color: #218838;
}

/* UPDATE */
.update-btn {
  background-color: #007bff; /* blue */
  margin-right: 6px;
}

.update-btn:hover {
  background-color: #0056b3;
}

/* DELETE */
.delete-btn {
  background-color: #dc3545; /* red */
}

.delete-btn:hover {
  background-color: #b52a37;
}

